* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-principal {
    background-color: rgb(24, 150, 24);
    padding: 1.5rem;
    max-width: 450px;
    margin: 3rem auto;
    border-radius: 10px;
    margin-top: 100px;
    text-align-last: center;
    padding: 1 1rem 1rem;
    border-bottom: 1px solid;
    
}

.container-principal button {
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
select {
    padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}

#icone-adicionar {
    width: 25px;
    background-color: rgb(24, 150, 24);
    margin: 0;
}

#icone-editar {
    width: 28px;
    background-color: rgb(24, 150, 24);
    margin: 0;
}

#icone-deletar {
    width: 28px;
    background-color: rgb(24, 150, 24);
    margin: 0;
}

#icone-incluir {
    width: 25px;
    background-color: rgb(24, 150, 24);
    margin: 0;
}

#add-ativ, 
#edit-form {
    padding: 1rem;
    border-bottom: 1px;
}

#add-ativ p, 
#edit-form  p{
    margin-bottom: 0.5rem;
    font-weight: bold;  
}

.formulario-controle {
    display: flex;
    align-items: center;
}

.formulario-controle input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

#toolbar {
    padding: 1rem;
    border-bottom: 1px solid;
    display: flex;
}

#toolbar h4 {
    margin-bottom: 0.5rem ;
}

#search {
    border-right: 1px solid;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#seacrh input {
    width: 100%;
    margin-right: 0.3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid;
    transition: .3s;
}

.todo h3 {
    flex: 1;
    font-size: .9rem;
}

.todo button {
    margin-left: 0.6rem;
}

.done {
    background-color:
}

.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}