* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#icone-adicionar {
    width: 25px;
}

#icone-editar {
    width: 28px;
}

#icone-deletar {
    width: 28px;
}

#icone-incluir {
    width: 25px;
}