* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-principal {
    background-color: rgb(24, 150, 24);   
    max-width: 450px;
    border-radius: 10px;
    margin-top: 100px;
    text-align-last: center;   
    border-bottom: 1px solid;
    display: inline-block;
    align-items: center;
    margin-left: 30%;
    margin-top: 30px;
}

.container-principal button {
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-principal input {
    display: block;
}

input,
select {
    padding: 0.25rem 0.5rem;
}

.hide {
    display: none;
}

#icone-adicionar {
    width: 31px;
    background-color: rgb(24, 150, 24);
    margin: 0;
}

#icone-editar {
    width: 28px;
    background-color: rgb(24, 150, 24);
    margin: 0;
}

#icone-buscar {
    width: 28px;
    background-color: rgb(24, 150, 24);
    margin: 0;
}

#icone-deletar {
    width: 28px;
    background-color: rgb(24, 150, 24);
    margin: 0;
}

#icone-incluir {
    width: 25px;
    background-color: rgb(24, 150, 24);
    margin: 0;
}

#add-ativ, 
#edit-form,
#toolbar {
    padding-left: 30px;
    border-bottom: 1px;
    margin: 30px;
}

#add-ativ p, 
#edit-form  p,
#toolbar p {
    margin-bottom: 0.5rem;
    font-weight: bold;  
    text-align: center;
}

.formulario-controle {
    display: flex;
    align-items: center;
}

.formulario-controle input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;
}

#toolbar {
    padding: 1rem;
    border-bottom: 1px solid;
    
}

#toolbar h4 {
    margin-bottom: 0.5rem ;
    margin-top: 30px;
}

#search {
    width: 65%;    
    align-items: center;    
}

#search form {
    display: flex;
}

#seacrh input {
    width: 100%;
    margin-right: 0.3rem;
}

#filter {
    width: 35%;    
    flex-direction: column;
}

#filter select {
    flex: 1;
}

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid;
    transition: .3s;
}

.todo h3 {
    flex: 1;
    font-size: .9rem;
}

.todo button {
    margin-left: 0.6rem;
}

.done {
    background-color: rgb(152, 141, 141);
}

.done h3 {
    color: #fff;
    text-decoration: line-through;
    font-style: italic;
}


